<div class="cc-section">
  <div class="cc-container" style="max-width: 800px;">
    <div class="cc-heading" style="margin-bottom: 2rem;">
      <h1 class="cc-heading__title">{{ page.title }}</h1>
    </div>

    <div class="cc-product__description" style="font-size: 1rem;">
      {{ page.content }}
    </div>
  </div>
</div>
